@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.interFont{
  font-family: "Inter", sans-serif
}
.brand-gradient {
  background: linear-gradient(to right, #f97316, #ec4899, #8b5cf6);
}